.login {
  margin: 0 auto;
  width: calc(100vw - 32px);
  h1 {
    color: #ffde86;
  }
  .login-form {
    display: flex;
    justify-content: center;
  }
  .separator {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    position: relative;
    text-align: center;
    span {
      background-color: #6B7280;
      padding: 0px 10px;
      font-size: 14px;
      font-weight: normal;
      line-height: 16px;
      color: white;
      text-align: center;
    }
  }
  .separator::before {
    display: inline-block;
    border-top: 1px solid rgb(184, 196, 194);
    content: "";
    margin: 0px auto;
    position: absolute;
    height: 0px;
    inset: 50% 0px 0px;
    z-index: -1;
    transform: translateY(-50%);
    width: 100%;
  }
  .link {
    color: blue;
    text-decoration: underline;
  }
}